.header-container {
  display: flex;
  justify-content: center;

  button {
    display: inline-block;
    height: auto;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    overflow: hidden;
    margin-right: 22rem;
    background-color: rgb(65, 107, 185);
    color: white;
  }
}
